@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Slabo+27px&display=swap');

.displaypage-master-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #CFBCB0;
}

.content-page {
  background: rgba(217, 217, 217, 0.92);
  height:fit-content;
  width: fit-content;
  min-width: 500px;
  min-height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-wrapper {
  padding: 50px;
  margin: 0;
  max-width: 500px;
}

.display-content {
  /* width: 300px; */
  text-align: center;
}

.display-title {
  text-align: center;
  font-family: 'Slabo 13px', serif;
}