@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Slabo+27px&display=swap');


.editform-master-div {
  background-color: #CFBCB0;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editform-div {
  display: flex;
  background-color: #D9D9D9;
  height: 80vh;
  width: 80vw;
  justify-content: center;
  border-radius: 0 0 16px 16px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

.editform-title {
  margin: 0;
  background-color: #2D2E2E;
  height: 10vh;
  border-radius: 0 0 16px 16px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  color: white;
  text-align: center;
  font-family: 'Slabo 13px', serif;
  font-size: 34px;
  width: 80vw;
  padding-top: 20px;
}

.edit-content-area {
  display:flex;
  flex-direction: column;
  margin-top: 3%;
}

.edit-btn-div {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.rewrite-div, .delete-div {
  background-color: #2D2E2E;
  text-decoration: none;
  height: 50px;
  width: 150px;
  margin: 1vw;
  text-align: center;
  color: #CFBCB0;
  border-radius: 16px;
  margin-bottom: 2vh;
}

.labels-edit {
  height: 50px;
  width: 400px;
  margin-bottom: 2vh;
  border: solid 3px #434d4d;
  text-align: center;
}

.edit-content {
  height: 40vh;
  width: 50vw;
  margin-bottom: 2vh;
  border: solid 3px #434d4d;
  text-align: center;
}

@media only screen and (max-width: 414px) { 
  .editform-div {
    width: 100%;
  }
  
  .editform-title {
    width: 100vw;
    border-radius: none;
  }
  .labels-edit {
    width: 99%;
  }
  .edit-content {
    width: 99%;
  }
}