

.footer-main-div {
  background-color: #2D2E2E;
  bottom: 0;
  /* position: absolute; */
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
}

.logo-footer {
height: 60px;
width: 100px;
/* transform: translateY(-2vh); */
}

.my-name {
  color: #BCABAE;
}

.contact {
  display: flex;
  flex-direction: row;
}

.icon {
  height: 100px;
  width: 100%;
}

@media only screen and (max-width: 414px) {
  .footer-main-div {
    bottom: 0;
  }
  .icon {
    height: 88px;
  }
  .logo-footer {
    height: 50px;
  }
  .my-name{
    margin:0;
  }
}