@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Slabo+27px&display=swap');

.info-card-main {
  background-color: #2D2E2E;
  display: inline-flex;
  width: 100%;
}

.card1 {
  background-color: #BCABAE;
  height: 450px;
  width: 350px;
  text-align: center;
  margin:auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  /* transform: matrix(0.99, -0.09, 0.12, 1, 0, 0); */
}

.card1:hover {
  transform: matrix(0.99, -0.09, 0.12, 1, 0, 0);
}

.card1 img {
  height: 450px;
  width: 350px;
  align-self: center;
  /* padding-left: 5px; */
  /* transform: matrix(0.99, -0.09, 0.12, 1, 0, 0); */
}

.card1 img:hover {
  transform: matrix(0.99, -0.06, 0.01, 1, 0, 0);
}

.main-card {
  display: flex;
  background-color: #00000028;
  height: 80vh;
  width: 80%;
  transform: translateY(-50px);
  text-align: center;
  margin:auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 34px; */
  font-family: 'Shadows Into Light Two', cursive;
  color: #FFFFFF;
  margin: 0;
  max-width: 50%;
}

.main-card, h4, p {
  text-align: center;
}

.main-title, .main-desc {
  padding: 5%;
}

.main-title {
  padding-top: 15%;
  margin-left: 15vw;
}

.border-container {
  width: 40%;
}

.border-class {
  height: 100%;
}

.poe {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.info-container {
  margin-top: 7vh;
}
.alice {
  transform: translateY(-8.5vh);
}

.main-desc {
  width: 50%;
  text-align: right;
  height: fit-content;
  margin-right: 0;
  margin-left: 12vw;
}