@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Slabo+27px&display=swap');

.info-card-main {
  background-color: #2D2E2E;
  display: inline-flex;
  /* flex-wrap: wrap; */
  width: 100%;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

.card1 {
  background-color: #BCABAE;
  height: 450px;
  width: 350px;
  text-align: center;
  margin:auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

.card1:hover {
  transform: matrix(0.99, -0.09, 0.12, 1, 0, 0);
}

.card1 img {
  height: 450px;
  width: 350px;
  align-self: center;
}

.card1 img:hover {
  transform: matrix(0.99, -0.06, 0.01, 1, 0, 0);
}

.main-card {
  display: flex;
  background-color: #00000028;
  height: 80vh;
  width: 80%;
  transform: translateY(-50px);
  text-align: center;
  margin:auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Shadows Into Light Two', cursive;
  color: #FFFFFF;
  margin: 0;
  max-width: 50%;
}

.main-card, h4, p {
  text-align: center;
}

.main-title, .main-desc {
  padding: 5%;
}

.main-title {
  padding-top: 15%;
  margin-left: 15vw;
  margin-bottom: 0;
}

.border-container {
  width: 40%;
}

.border-class {
  height: 100%;
}

.poe {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.info-container {
  margin-top: 7vh;
}
.alice {
  transform: translateY(-5.5vh);
}

.main-desc {
  width: 50%;
  text-align: center;
  height: fit-content;
  margin-right: 0;
  margin-left: 15vw;
  margin-top: 0;
  padding-top: 0;
}

@media only screen and (max-width: 768px) {
  .info-card-main {
    display: flex;
    flex-direction: column;
    /* margin-top: 10vh; */
    padding-top: 5vh;
  }
  .main-card {
    width: 100vw;
    max-width: 100%;
  }
  .border-container {
    width: 30%;
  }
  .border-class {
    height: 100%;
    width: 650px;
  }
  .info-container {
    margin-left: 20vw;
    margin-top: 20vh;
  }
  .main-title {
    margin-right: 8vw;
  }
  .main-desc {
    margin-right: 8vw;
    font-size: 16px;
  }
  .alice {
    transform: translateY(0.01vh);
  }
  
  
  /* .border-container {
    width: 20%;
  }
  .border-class {
    height: 90%;
  }
  .info-card-main {
    display: flex;
    flex-direction: column;
  }
  .main-card {

  }
  /* .main-card {
    width: 50vw;
    height:fit-content;
  } */ 
} 

@media only screen and (max-width: 414px) {
  .info-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height:fit-content;
  }
  .border-class {
    display: none;
  }
  .main-card {
    width: 100vw;
    transform: none;
    max-width: none;
    text-align: center;
    height: 60vh;
  }
  .info-container {
    margin-left: 0vw;
    margin-top: 0vh;
  }
  .main-desc {
    width: 400px;
    margin: 0;
  }
  .main-title{
    margin:0;
  }
  .alice {
    transform: none;
  }
  .card2 {
    margin-top: 8vh;
    bottom: 0;
  }
}
