@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Slabo+27px&display=swap');

.nav-main-div {
  background-color: #2D2E2E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #BCABAE;
  font-family: 'Slabo 13px', serif;
}

.nav-main-div a {
  text-decoration: none;
  color: #BCABAE;
}

.nav-main-div p {
  margin: 0;
}

.logo-area {
  display: inline-flex;
  align-items: center;
  margin-left: 4vw;
}

.logo-nav {
  height: 100px;
  width: 100px;
  transform: translateY(-2vh);
}

.auth-options {
  display: inline-flex;
  margin-top: 2.5vh;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: 24px;
  font-family: 'Slabo 13px', serif;
}

.auth-options p a {
  padding: 5vw;
  font-size: 24px;
}

.nav-filler {
  height: 100px;
  background-color: #2D2E2E;
}

.signout-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Slabo 13px', serif;
  font-size: 24px;
  color: #BCABAE;
}

.nav-title {
  font-size: 48px;
  font-family: 'PT Mono', monospace;
}

@media only screen and (max-width: 414px) {
  .nav-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
  }
  .auth-options, p, a, button {
    padding: 8px;
    margin-bottom: 0;
    margin-top: 0;
    width: fit-content;
    font-size: 20px;
  }
  .signout-btn {
    font-size: 20px;
  }
}