.lovecraft {
    position: absolute;
    height: 500px;
    margin-left: 20vw;
    bottom: 10vh;
  }

  .hobbit {
    position: absolute;
    height: 600px;
    margin-right: 62vw;
    bottom: 0;
  }

  @media only screen and (max-width: 768px) {
    .lovecraft {
      display:none;
    }
    .hobbit {
      text-align: center;
      width: fit-content;
      margin-right: 0vw;
      height: 500px;
      margin-bottom: 12vh;
    }
    .login-options {
      transform: translateY(-5vh);
    }
  }

  @media only screen and (max-width: 414px) {
    .lovecraft {
      display: none;
    }
    .hobbit {
      text-align: center;
      width: fit-content;
      margin-right: 20vw;
      height: 500px;
      margin-bottom: 9vh;
    }
  }
