@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Slabo+27px&display=swap');

.login-main-div {
  background-color: #CFBCB0;
  position: relative;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.form-div {
  background-color: #CFBCB0;
  text-align: center;
  background-color: #D9D9D9;
  width: 500px;
  height: 500px;
  border-radius: 34px;
  margin: 0;
}

.text-login-header {
  background-color: #2D2E2E;
  height: 100px;
  width:500px;
  border-radius: 16px 16px 16px 16px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  color: white;
  text-align: center;
  font-family: 'Slabo 13px', serif;
  font-size: 34px;
  margin-top: 0;
}

.labels-signin {
  margin-top: 500px;
}

.login-text {
  margin-top: 3vh;
  color: #CFBCB0;
  margin:0;
  padding-top: 2vh;
}

.form-container {
  margin-top: 7vh;
  position: relative;
}

.input-signin {
  height: 50px;
  width: 400px;
  margin-bottom: 2vh;
  border: solid 3px #434d4d;
  text-align: center;
  margin-top: 0;
}

.btn-container {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
}

.login-options {
  background-color: #2D2E2E;
  text-decoration: none;
  height: 50px;
  width: 150px;
  margin: 1vw;
  text-align: center;
  color: #CFBCB0;
  border-radius: 16px;
}

#link-btn {
  padding-top: 1.53vh;
  text-decoration: none;
  color: #CFBCB0;
  font-size: 18px;
}

#submit-login {
  font-size: 18px;
  border: none;
}

.peer {
  position: absolute;
  height: 500px;
  margin-left: 20vw;
  bottom: 0vh;
}

.stacks {
  position: absolute;
  height: 600px;
  margin-right: 70vw;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .peer {
    display:none;
  }
  .stacks {
    text-align: center;
    width: fit-content;
    margin-right: 35vw;
    height: 400px;
    margin-bottom: 18vh;
  }
  .login-options {
    transform: translateY(-5vh);
  }
}

@media only screen and (max-width: 414px) {
  .peer {
    display: none;
  }
  .stacks {
    text-align: center;
    width: fit-content;
    margin-right: 20vw;
    height: 400px;
    margin-bottom: 15vh;
  }
}